#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 0;
  background-image: url("/public/Pictures/background4.png"); /* Change to your image path */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  /* Slim the image to the left */
  background-size: 100% 100%; /* Reduce the width to 30% of the container */
  background-position: left top center; /* Align the image to the left, centered vertically */
  background-repeat: no-repeat; /* Prevent repetition */
  background-attachment: fixed;
  position: relative;
}
nav {
  position: absolute;
  top: 10px;
  right: 20px;
}

nav a {
  text-decoration: none;
  margin-left: 15px;
  color: #ffffff;
  font-weight: bold;
}

nav a:hover {
  color: #00383a;
  text-decoration: underline;
}

.home-container {
  text-align: center;
  padding-top: 3rem;
}

.home-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 100px;
  color: #fcfdff;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 1);

}

.home-subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 1);

}

.button-row {
  margin-top: 3rem; /* Pushes buttons further down */
}

.Button-container {
  background: #02616640; /* Adjust transparency */
  backdrop-filter: blur(5px); /* Frosted glass effect */

  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 350px; /* Fixed width */
  height: 250px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-top: 100px;
}

.custom-button {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
}

.custom-button:hover {
  background-color: #fcfdff;
  color: #ffffff;
}
.Button-title {
  color: #ffffff;
  font-size: 2.2rem;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 1);


}
.Button-description {
  color: #ffffff;
  font-size: 1.2rem;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 1);

}
.button {
  color: white;
}
.motivational-quote {
  color: #ffffff;
}
